
body{
    background-color: rgba(205, 205, 205, 0.2);
}
section{
    width: 80%;
    margin: 0 auto;
    height: 35rem;
}

h1{
    display: inline-block;
    font-size: 1rem;
}

section.whildaker{
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/gearvr.png);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/gearvr.png);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/gearvr.png);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/gearvr.png);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../img/gearvr.png);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/gearvr.png);

}

div.container{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

.container header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.lineH{
    height: 2px;
    width: 0;
    margin: 0 1.5rem;
    margin-right: auto;
    background-color: #f0ff95;
}.lineH2{
    align-self: flex-end;
    height: 2px;
    width: 0px;
    margin-bottom: 2rem;
    background-color: #f0ff95;
}
.lineV{
    position: absolute;
    overflow: hidden;
    left: 7.5%;
    top: 4rem;
    width: 2px;
    height: 0;
    background-color: #f0ff95;
}
.lineV2{
    position: absolute;
    right: 7.5%;
    bottom: 2rem;
    width: 2px;
    height: 0;
    background-color: #f0ff95;
}
.dropdown{
    display: none;
    position: absolute;
}
.whildaker a{
    align-self: flex-end;
}
.whildaker nav{
    margin-left: 0.5rem;
}
.container nav ul li{
    display: inline-block;
    padding: 1rem;
}
.container nav a{
    text-decoration: none;
    color: #C4C4C4;
    font-weight: bold;

}
.container nav a:hover{
    color: #d1dd62;
}
.nodropdown{
    width: 18rem;
    visibility: hidden;
}
.dropdown-list{
    display: none;
}
.dropdown-list span{
    font-size: 3rem;
}
.whildaker h1{
    display: inline-block;
    color: #fff;
    font-size: 2rem;
}
.textwhildaker{
    height: 10rem;
    width: 100%;
    padding: 4rem 8rem 3rem 5rem ;
}
.textwhildaker p{
    font-size: 1.8rem;
    display: none;
    color: #fff;
    font-weight: 500;
}
.textwhildaker span{
    font-size: 1.8rem;
    display: none;
    color: #fff;
    font-weight: 500;
}

#escritorio, #arquitetura{
    display: flex;
    align-items: center;
}
.escritorio{
    flex-direction: row-reverse;
}

.escritorio .fundobranco{
    padding-right: 0;
    align-self: flex-end;
}
.arquitetura .fundobranco{
    padding-left: 0;
}
.arquitetura a{
    display: inline-block;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0.5rem;
}
.arquitetura a:hover{
    transform: scale(1.1);
}
div.fundobranco{
    justify-self: center;
    align-self: center;
    padding: 0 5rem;
    width: 60%;
    height: 35rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
}
.fundobranco h1, p{
    opacity: 0;
}
.fundobranco h1{
    font-size: 2rem;
    font-weight: bold;
    justify-content: space-between;
}
.fundobranco p{
    padding: 0.7rem 0;
    color: #6a6a6a;
    font-family: sans-serif;
}
.lineHEsc{
    position: absolute;
    width: 0px;
    left: -40px;
    height: 1px;
    background-color: #000;
    top: 35%;
}
.lineHEsc2{
    position: absolute;
    width: 0px;
    left: 20px;
    top: 40%;
    height: 2px;
    background-color: #ffcd57;
}
.img{
    width: 80%;
}
.img img{
    border-radius: 2%;
    width: 100%;
    object-fit: cover;
}
section#contato{
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/Stack_of_firewood.png);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/Stack_of_firewood.png);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/Stack_of_firewood.png);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/Stack_of_firewood.png);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.95))), url(../img/Stack_of_firewood.png);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.9)), url(../img/Stack_of_firewood.png);

    display: flex;
    align-items: center;
}

.contato div{
    justify-self: center;
    align-self: center;
    width: 40%;
    height: 10rem;
    padding: 6rem;
}

.contato p{
    color: #f1f8da;
    font-weight: bold;
    padding: 2rem 0;
}

.contato h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #d1dd62;
}
.contato ul li{
    display: inline-block;
    margin-right: 2rem;
}
.contato a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

                                                /*media query*/

@media screen and (max-width: 768px) {
    .nodropdown{
        display: none;
    }
    .dropdown-list{
        display: block;
    }
    .dropdown{
        right: 3.5rem;
    }
    .container header nav .dropdown li{
        display: block;
        padding: 0.5rem;
    }
    .material-icons{
        cursor: default;
    }
    .textwhildaker{
        padding: 4rem;
    }
    .whildaker p{
        font-size: 1.5rem;
    }
    #arquitetura, #escritorio{
        flex-direction: column;
        height: 40rem;
        justify-content: center;
    }
    .escritorio div.fundobranco, .arquitetura div.fundobranco{
        padding: 0;
        width: 80%;
        align-self: center;
        min-height: 0;
        height: auto;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 600px){
    .dropdown{
        right: 2.5rem;
    }
}@media screen and (max-width: 400px){
    .dropdown{
        right: 1.5rem;
    }
}